<% if @user.identity_url.blank? %>
	<li>
		<label for="user_login">Login</label> 
		<%= f.text_field :login %> <%= error_message_on :user, :login -%>
		<span class="hint">Your screen name.</span>
	</li>

	<li>
		<label for="user_password">Password</label> 
		<%= f.password_field :password %> <%= error_message_on :user, :password -%>
		<% if %w(edit update).include? params[:action] -%>
			<span class="hint">Leave blank if unchanged.</span>
		<% else -%>
			<span class="hint">At least 4 characters.</span>	
		<% end -%>
	</li>

	<li>
		<label for="user_password_confirmation">Confirm Password</label> 
		<%= f.password_field :password_confirmation %> <%= error_message_on :user, :password_confirmation %>
		<% if %w(edit update).include? params[:action] -%>
			<span class="hint">Re-type if changing.</span>
		<% else -%>
			<span class="hint">Must match above.</span>	
		<% end -%>
	</li>
<% end %>

<li>
	<label for="user_email">Email</label> 
	<%= f.text_field :email %> <%= error_message_on :user, :email -%>
	<span class="hint">A valid contact email address.</span>
</li>

